:root {
    --darkTextColor: chocolate;
    --lightTextColor: oldlace;

    --bubbleColor: coral;
    --bubbleHighlightColor: rgb(253, 158, 33);
    --bubbleClickColor: rgb(251, 255, 0);

    --markerLineColor: hsl(0, 80%, 50%);

    --mediumBG: wheat;
    --lightBG: white;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--darkTextColor);
    size: 12px;
}

html, body {
    background-color: var(--mediumBG);
    height: 100%;
    width: 100%;

    overflow: hidden;   /*stop page scrolling */
}

h1 {
    color: var(--darkTextColor);
    text-align: center;
    size: 24px;
    padding-top: 24px;
}

/*debug*/
/*#mainSection, #headerBar, #mainBar, #mainTable {*/
/*#controls {
    
    border-width: 2px;
    border-style: solid;
    border-color: blue;
}
*/

#mainSection {
    background-color: var(--lightBG);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 24px;

    /*position: fixed;
    width: 80%;*/

    width: auto;
    height: 90%;
}

#headerBar {

    width: 100%;
    height: 15%;
}
#mainBar {
    
    width: 100%;
    height: 85%;
    display: flex;   
    flex-direction: row; 
}

.timelineTable {
    margin: auto;

    background-color: var(--mediumBG);
    color: var(--darkTextColor);
    font-size: 16px;

    position: relative;

    overflow:hidden;
    width: 30%;
    height: 90%;

}

.timelineTable[selected='true'] {

    border-width: 2px;
    border-style: solid;
    border-color: var(--markerLineColor);

}
#infoPanel {
    margin: auto;
    padding: 20px;

    background-color: var(--mediumBG);
    color: var(--darkTextColor);
 /*   opacity: 0.5;*/
    font-size: 16px;

    /* position in top right corner */
  /*  position: absolute;*/
    
    /*top: 10px;*/
  /*  right: 10px;*/

    position: relative;

    overflow:hidden;
    width: 30%;
    height: 90%;

    border-width: 2px;
    border-style: solid;
    border-color: var(--darkTextColor);
     

}

#wikiFrame {

    width:100%;
    height:100%;

}

.yearMarkerLine {


    margin: auto;
    margin-top: -5px; /* half total height */

    background-color: var(--markerLineColor);
    opacity: 0.5;

    position: absolute;
    z-index: 1;

    width: 100%;
    height: 10px;

    /* border-width: 2px;
     border-style: solid;
     border-color: blue;
     */
}

.yearMarkerLine[timelinePosition='middle'] {
    top: 50%;
}

.yearMarkerLine[timelinePosition='top']  {
    top: 0%;
    margin-top: 0px; /* move down to fit in window */
}

.yearMarkerLine[timelinePosition='bottom']  {
    top: 100%;
    margin-top: -10px; /* move up to fit in window */
}

.yearLabel {
    margin: auto;
    margin-top: 10px; /* height of the marker line */

    background-color: rgba(0,0,0,0);
    color: var(--markerLineColor);
    font-size: 24px;
    text-align: right;
    user-select: none; /* prevent selecting of text */
    

    position: absolute;
    top: 0;
    right: 20px;
    z-index: 1;

    overflow:visible;
    width: max-content;
    height: max-content;

    /*border-width: 2px;
    border-style: solid;
    border-color: blue;*/
    

}

#maxYearLabel0, #maxYearLabel1{
    
    position: absolute;
    margin-top: -34px; /* text height + 10px */
}

/*#currentYearLabel:hover {    
    color:rgb(252, 142, 142);
}
*/

.yearMarkerLine:hover {
    /*background-color: rgb(252, 142, 142);
    color:rgb(252, 142, 142);
    */
    opacity: 0.9;
}

.controlsContainer
{

    margin: auto;
    width: 90%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
   /* border-width: 2px;
    border-style: solid;
    border-color: blue;*/
}

/*
.controls
{
    
    border-width: 2px;
    border-style: solid;
    border-color: blue;
}
*/

.eventBubble {
    margin-left: 100px;
    margin-top: -22px; /* = half total height, accounting for padding+height+border = (10+10)+20+(2+2) = 44 */
    margin-bottom: 10px;
    padding: 10px;

    position: absolute;
    z-index: 2;
    
    width: max-content;
    height: 20px;
    background-color: var(--bubbleColor);
    color: var(--lightTextColor);
    opacity: 0.8;

    /* text */
    font-size: 16px;
    user-select: none; /* prevent selecting of text */
    
}

.eventBubble[eventType='era'] {
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 1px;

    width: 300px;
    height: auto;

    background-color: rgb(88, 88, 88);
    opacity: 0.5;
    z-index: 0;

    border-radius: 5px 20px 5px;

    display: none;
}
.eventBubble[eventType='person'] {
    margin-left: 200px;
    margin-top: -22px; /* = half total height, accounting for padding+height+border = (10+10)+20+(2+2) = 44 */
    margin-bottom: 10px;
    padding: 10px;

    position: absolute;
    z-index: 2;
    
    width: max-content;
    height: 20px;
    background-color: rgba(245, 197, 65, 0.829);
    color: var(--lightTextColor);
    opacity: 0.8;

    /* text */
    font-size: 16px;
    font-style: italic;
    user-select: none; /* prevent selecting of text */
    
}

.eventBubble:hover {
    background-color: var(--bubbleHighlightColor);
    z-index: 3;
    
    box-shadow: -4px 8px 16px 0 rgba(0,0,0,0.2);
}
.eventBubble[eventType='era']:hover {
    background-color: var(--bubbleHighlightColor);
    z-index: 0;
    
    box-shadow: -4px 8px 16px 0 rgba(0,0,0,0.2);
}

.eventBubble:active {
    background-color: var(--bubbleClickColor);
    z-index: 3;
    box-shadow: -4px 8px 16px 0 rgba(0,0,0,0.2);
}
.eventBubble[selected=true] {
    background-color: var(--bubbleHighlightColor);
    z-index: 3;
    box-shadow: -4px 8px 16px 0 rgba(0,0,0,0.2);

    border-width: 2px;
    border-style: solid;
    border-color: var(--markerLineColor);
}


.lifelineMarker 
{
    width: 20px;
    height: auto;

    z-index: 1;
    position: absolute;
   
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 200px;

   /* left: 50%;
    margin-left: -20px; 
    */
    /* width+lborder+rborder / 2 */
    top: -100px;

    
    border: 10px solid transparent;
    border-image: url(images/column.png) round;
    border-image-slice: 10% 0% fill;
}

.lifelineBracket
{
    width: 10px;
    height: auto;

    z-index: 1;
    position: absolute;
   
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 180px;

    top: -100px;

    border-width: 3px 0px 3px 3px;/* top right bottom left */
    border-style: solid;
    border-color: blue;

}

.togglebutton {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.togglebutton:hover{
    box-shadow: -4px 8px 16px 0 rgba(0,0,0,0.2);
}
.togglebutton[toggledStatus=false]{
    background-color: grey;
}
.togglebutton:active{
    background-color: grey;
}
.togglebutton[toggledStatus=false]:active{
    background-color: blue;
}

