* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    background-color: wheat;
    height: 100%;
    width: 100%;

    overflow: hidden;   /*stop page scrolling */
}

h1 {
    color: chocolate;
    text-align: center;
    size: 24px;
    padding-top: 24px;
}

/*debug*/
/*#mainSection, #headerBar, #mainBar, #mainTable {
    
    border-width: 2px;
    border-style: solid;
    border-color: blue;
}*/


#mainSection {
    background-color: rgb(255, 255, 255);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 24px;

    /*position: fixed;
    width: 80%;*/

    width: auto;
    height: 90%;
}

#headerBar {

    width: 100%;
    height: 15%;
}
#mainBar {
    
    width: 100%;
    height: 85%;
}

#mainTable {
    margin: auto;

    background-color: wheat;
    color: chocolate;
    size: 16px;

    position: relative;

    overflow:hidden;
    width: 90%;
    height: 90%;

}

.eventBubble {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;

    position: absolute;
    top: 90%;
    
    width: max-content;
    background-color: coral;
    color: oldlace;
    size: 16px;
}