:root {
    --darkTextColor: chocolate;
    --lightTextColor: oldlace;

    --bubbleColor: coral;
    --bubbleHighlightColor: rgb(253, 158, 33);
    --bubbleClickColor: rgb(251, 255, 0);

    --markerLineColor: hsl(0, 80%, 50%);

    --mediumBG: wheat;
    --lightBG: white;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--darkTextColor);
    size: 12px;
}

html, body {
    background-color: var(--mediumBG);
    height: 100%;
    width: 100%;

    overflow: hidden;   /*stop page scrolling */
}

h1 {
    color: var(--darkTextColor);
    text-align: center;
    size: 24px;
    padding-top: 24px;
}

/*debug*/
/*#mainSection, #headerBar, #mainBar, #mainTable {*/
/*#controls {
    
    border-width: 2px;
    border-style: solid;
    border-color: blue;
}
*/

#mainSection {
    background-color: var(--lightBG);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 24px;

    /*position: fixed;
    width: 80%;*/

    width: auto;
    height: 90%;
}

#headerBar {

    width: 100%;
    height: 15%;
}
#mainBar {
    
    width: 100%;
    height: 85%;
}

#mainTable {
    margin: auto;

    background-color: var(--mediumBG);
    color: var(--darkTextColor);
    font-size: 16px;

    position: relative;

    overflow:hidden;
    width: 90%;
    height: 90%;

}
#infoPanel {
    margin: auto;

    background-color: var(--lightBG);
    color: var(--darkTextColor);
    opacity: 0.5;
    font-size: 16px;

    /* position in top right corner */
    position: absolute;
    
    /*top: 10px;*/
    right: 10px;

    overflow:hidden;
    width: 70%;
    height: 95%;

}

#wikiFrame {

    width:100%;
    height:100%;

}

#currentYearMarker {
    margin: auto;
    margin-top: -5px; /* half total height */

    background-color: var(--markerLineColor);
    opacity: 0.5;

    position: absolute;
    top: 50%;
    z-index: 1;

    width: 100%;
    height: 10px;
   
   /* border-width: 2px;
    border-style: solid;
    border-color: blue;
    */

}
#currentYearLabel {
    margin: auto;
    margin-top: 10px; /* height of the marker line */

    background-color: rgba(0,0,0,0);
    color: var(--markerLineColor);
    font-size: 24px;
    text-align: right;
    

    position: absolute;
    top: 0;
    right: 20px;
    z-index: 1;

    overflow:visible;
    width: max-content;
    height: max-content;

    /*border-width: 2px;
    border-style: solid;
    border-color: blue;*/
    

}

/*#currentYearLabel:hover {    
    color:rgb(252, 142, 142);
}
*/

#currentYearMarker:hover {
    /*background-color: rgb(252, 142, 142);
    color:rgb(252, 142, 142);
    */
    opacity: 0.9;
}

#controls {

    margin: auto;
    width: 90%;
}

.eventBubble {
    margin-left: 100px;
    margin-top: -22px; /* = half total height, accounting for padding+height+border = (10+10)+20+(2+2) = 44 */
    margin-bottom: 10px;
    padding: 10px;

    position: absolute;
    z-index: 1;
    
    width: max-content;
    height: 20px;
    background-color: var(--bubbleColor);
    color: var(--lightTextColor);
    opacity: 0.8;

    /* text */
    font-size: 16px;
    user-select: none; /* prevent selecting of text */
    
    border-width: 2px;
    border-style: solid;
    border-color: blue;
}

.eventBubble[eventType='era'] {
    margin-left: 20px;
    margin-top: 0;

    width: 300px;
    height: auto;

    background-color: rgb(88, 88, 88);
    opacity: 0.5;
    z-index: 0;

    border-width: 0px;
    border-style: solid;
    border-color: blue;
}

.eventBubble:hover {
    background-color: var(--bubbleHighlightColor);
    z-index: 2;
    
    box-shadow: -4px 8px 16px 0 rgba(0,0,0,0.2);
}
.eventBubble:active {
    background-color: var(--bubbleClickColor);
    z-index: 2;
    box-shadow: -4px 8px 16px 0 rgba(0,0,0,0.2);
}
.eventBubble[selected=true] {
    background-color: var(--bubbleHighlightColor);
    z-index: 2;
    box-shadow: -4px 8px 16px 0 rgba(0,0,0,0.2);
}

/* TODO eventBubble selected */